{% extends 'todo/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block stylesheet %}
 <link rel="stylesheet" href="{% static 'css/updateProfile.css' %}">
{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'password_change' %}">Change password</a></li>
</li>
{% endblock %}
{% block content %}
<div class="bg-logout">
    <div class="container">
        <div class="row justify-content-center">
            <fieldset class="bg-white p-5">
                <legend class="">Changing Password</legend>
                <form method="post" novalidate>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-success">Change password</button>
                </form>
            </fieldset>
        </div>
    </div>
</div>
{% endblock %}