.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  /*align-items: flex-start;*/
}
.media-body {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

#sidebar.active {
    margin-left: -300px; }
#sidebar {
    min-width: 300px;
    max-width: 300px;
    background: #1d1919;
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}